<html ng-app="precallTestApp">
<head>
    <title>WebRTC Precall Test</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/dist/css/custom.css"/>
</head>

<style>
    #log-panel {
        width: 55%;
        position: absolute;
        top: 0;
        bottom: 0;
        font-family: 'Open Sans', sans-serif;
        !important;
    }
</style>
<body>
<div id="content" >
    <div id="test-panel" ng-controller="TestCtrl">
        <h1>WebRTC Pre-call Test!</h1>
        <h3 class="subheader">Checks browser and network environment !</h3>
        <ul id="suites">
            <li ng-repeat="suite in suites" ng-attr-data-name="{{suite.name}}">
                <a ng-click="setActiveSuite(suite.name)">{{suite.name}}</a>
            </li>
        </ul>

        <div id="suite-panels" >
            <div ng-repeat="suite in suites" class="suite" ng-attr-data-name="{{suite.name}}">
                <ul class="tests">
                    <li ng-repeat="test in suite.tests" supported="test">
                        <div class="test-header">
                            <button run-on-click="test"><i class="glyphicon glyphicon-play"></i> Run</button>
                            <span>{{test.name}}</span>
                            <i class="glyphicon glyphicon-collapse-down"
                               ng-click="expandConfig($event)"
                               ng-if="test.configOptions.length"></i>
                        </div>
                        <p class="test-desc">{{test.description}}</p>
                        <div class="test-config">
                            <config-option ng-repeat="option in test.configOptions" content="option"></config-option>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div id="stat-charts">
            <div id="audio-container-bandwidth" style="min-width: 300px; height: 250px; margin: 0 auto; display:none"></div>
            <div id="audio-container-rtt" style="min-width: 300px; height: 250px; margin: 0 auto; display:none"></div>

            <div id="av-container-bandwidth" style="min-width: 350px; height: 250px; margin: 0 auto; display:none"></div>
            <div id="av-container-rtt" style="min-width: 350px; height: 250px; margin: 0 auto; display:none"></div>

            <div id="data-container" style="min-width: 350px; height: 400px; margin: 0 auto; display:none"></div>
        </div>
    </div>

    <div id="log-panel" ng-controller="LogCtrl">
        <div id="log-header">
            <h3> <strong> Output : </strong> </h3>
        </div>
        <div id="progress-wrapper">
            <div id="progress-bar"></div>
        </div>
        <div id="log-wrapper">
            <ul id="logs"></ul>
        </div>
    </div>
</div>


<div id="footer">
        <a href="https://bitbucket.org/pallab-gain/precall-test" target="_blank">
            <strong> Source Code </strong> </a>
        <a href="https://substantial-cannon.surge.sh/" target="_blank">
            <strong> - API DOC </strong> </a>
        </br>

        UI idea taken from another pre call test page and
        <a href="https://test.webrtc.org">https://test.webrtc.org</a>.

</div>


<script src="//code.jquery.com/jquery-2.2.1.min.js" type="text/javascript"></script>
<script src="//code.angularjs.org/1.5.0/angular.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/webrtc-adapter/6.0.2/adapter.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/series-label.js"></script>


<script src="/static/dist/js/getStats.js"></script>
<script src="/static/dist/js/webrtcstat-library.js"></script>
<script src="https://github.com/muaz-khan/getStats/releases/download/1.0.6/getStats.js"></script>

<script src="/static/dist/js/app.js"></script>
<script src="/static/dist/js/suites.js"></script>
<script src="/static/dist/js/controllers.js"></script>
<script src="/static/dist/js/directives.js"></script>
<script src="/static/dist/js/charting.js"></script>


</body>
</html>
